<div>
    <ul class="nav nav-tabs" id="profspomanage-tab" role="tablist">
        <li class="nav-item">
            <a class="profspomanage-nav-link nav-link active profspomanage-tab" id="book-tab" data-type="user"
               data-toggle="tab" href="#u"
               role="tab"
               aria-controls="user" aria-selected="true">Пользователи PROFобразование</a>
        </li>
    </ul>
    <div class="tab-content" id="profspomanage-tab-content">
        <div class="profspomanage-tab-pane tab-pane show active" id="profspomanage-user" role="tabpanel"
             aria-labelledby="user-tab">
            <br>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="filter-user-fio">ФИО</label>
                        <input type="text" class="profspomanage-form-control form-control profspomanage-filter"
                               id="filter-user-fio"
                               placeholder="Фамилия Имя Отчество">
                    </div>
                </div>
            </form>

            <div id="profspomanage-content">
                <a id="profspomanage-filter-apply" class="btn btn-secondary">Искать</a>
                <a id="profspomanage-filter-clear" class="btn btn-secondary">Очистить</a>
                <br>
                <br>
                <div class="row">
                    <div id="profspomanage-user-list" class="col-sm">
                        <!--list-->
                    </div>
                    <div id="profspomanage-user-details" class="col-sm">
                        <h3 style="text-align: center;">Регистрация пользователя</h3>

                        <div class="form-group col-md">
                            <label for="user-email">Email</label>
                            <input type="email" class="form-control" id="user-email" placeholder="Email">
                        </div>
                        <div class="form-group col-md">
                            <label for="user-fio">ФИО</label>
                            <input type="text" class="form-control" id="user-fio"
                                   placeholder="Фамилия Имя Отчество">
                        </div>
                        <div class="form-group col-md">
                            <label for="user-pass">Пароль</label>
                            <input type="password" class="form-control" id="user-pass">
                        </div>
                        <div class="form-group col-md">
                            <label for="user-type">Тип пользователя</label>
                            <select class="form-control" id="user-type">
                                <option value="2">Обучающийся</option>
                                <option value="5">Преподаватель</option>
                            </select>
                        </div>
                        <div class="form-group col-md">
                            <a id="profspomanage-user-register" class="btn btn-secondary" href="#register">Зарегистрировать</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
